*{
    margin: 0;
    padding: 0;
}
.open-sans-uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
body{
    
    height: 100%;
   
    
}
.sec{
    background: linear-gradient(
        to bottom right,
        rgba(155, 211, 247, 1),
     rgba(249, 253, 255, 1),
     rgba(249, 253, 255, 1)

    ) ;
    height: 500px;
    width: 100%;
    }   
.navbar{
    background-color: transparent;
   
}  
.navbar img {
    height: 50px;
    width: 250px;
}
.col-7 h3{
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
   
}
.fs-3 span{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: larger;
    font-variation-settings:
      "wdth" 100;
 
}
.uderline{
    position: relative;
    
}
.underline::after
{
    content: '';
    position: absolute;
    width: 40%;
    background-image: url('Vector\ 20.png');
    left: 270px;
    height: 10px;
}
.font{
    font-family: "Inter", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 14px;
      line-height: 14px;
      width: 550px;
      color: rgba(24, 2, 13, 1);
}
.col-4{
    right: 30px;
}
.nn{
    background-color: rgba(24, 2, 13, 1);
}

.nn ul li {
    margin-left: 40px;
}



